@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: Urbanist;
  src: url('/fonts/Optima Medium.woff') format("truetype");
}

@font-face {
  font-family: UrbanistBold;
  src: url('/fonts/Optima_B.woff') format("truetype");
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: UrbanistBold !important;
}
p,
span,
label,
li {
  font-family: Urbanist !important;
}

 .primary{
  background-color: rgb(100, 35, 97);
 }
 .primaryText{
  color: rgb(53, 21, 50);
 }
.bg{
  background-color: rgb(218, 222, 231);
}





 .scroll::-webkit-scrollbar {
  width: 0.1px;
}

/* Track */
.scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(245, 244, 244);
  border-radius: 10px;
}

/* Handle */
.scroll::-webkit-scrollbar-thumb {
  background: rgb(243, 241, 241);
  border-radius: 10px;
}

/* Handle on hover */
.scroll::-webkit-scrollbar-thumb:hover {
  background: #575555;
  cursor: pointer;
}
.sidebg{
  background-color: rgb(230, 233, 240);;
}

@media (min-width: 0px) and (max-width: 1024px) {
  .hide {
    display: none; /* Or your desired display property */
  }
}